body
{ background-color:#6696c0;
}

{
    background-image: url("Eury.png");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top left; /* Le fond sera placé en haut à droite */
}

/*test de com*/

p
{
    font-size: large;
}

.text-center {
text-align : center;
}

h1 {
    font-size: large;
}


h1, p 
{
    font-family: "Times New Roman", sans-serif
}