body {
	background-color: transparent;
	position: relative;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 18px;
 }
#content {
	background-color: lightgrey;
	width: 1000px;
	position: absolute;
	color: black;
	text-align: justify;
}
#annule {
	margin-left: 200px;
	background-color: transparent;
	width: 900px;
}
#comm { 
	margin-left: 1200px;
	background-color: transparent;
	width: 900px;
 }